.Bar1 {
    border: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
    margin: 2px;
}

.Bar2 {
    border: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    background: rgb(188, 235, 194);
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
    margin: 2px;
}

.Bar2:hover {
    background-color: rgb(143, 197, 150);
}

.Bar2:active {
    background-color: rgb(121, 150, 125);
}

.Bar3 {
    border: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    background: rgb(116, 191, 255);
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
    margin: 2px;
}

.Bar3:hover {
    background-color:rgb(98, 161, 216);
}

.Bar3:active {
    background-color: rgb(69, 112, 150);
}
