
.barColour1 {
    border: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    background-color: rgb(143, 197, 150);
    transition: background 0.2s;
    color: #fff;
    outline: none;
}


.barColour1:hover{
    background-color: rgb(143, 197, 150);
}
.barColour2 {
    border: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    background-color: rgb(254, 172, 49);
    color: #fff;
    transition: background 0.2s;
    outline: none;
    margin-right: 5vh;
}
.barColour2:hover {
    background-color: rgb(238, 161, 45);
}

.subButton {
    border: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    background: #7859cc;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
    margin-top: 2vh;
}

.subButton:hover {
    background-color: #947adb;
}

.subButton:active {
    background-color: #560e91;
}

.cancelButton {
    border: transparent;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 12px;
    background: #ce1b1b;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
    margin: 2px;
    margin-top: 2vh;
}

.cancelButton:hover {
    background-color: #db7a7a;
}

.cancelButton:active {
    background-color: #910e0e;
}

.dropDown{
    width:11vw;
    height: 5vh;

}